<!-- src/app/app-shell/app-shell.component.html -->
<div class="app-shell-container">
  <!-- Header luôn hiển thị trong shell này -->
  <app-header></app-header>
  
  <div class="app-shell-content-wrapper">
    <!-- Sidebar luôn hiển thị trong shell này -->
    <div class="app-shell-side-bar">
      <app-side-bar></app-side-bar>
    </div>
    <!-- Router Outlet cho nội dung của các trang đã đăng nhập (Dashboard, Customer, Product, etc.) -->
    <div class="app-shell-main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
